POSTGRES_DB=statkick
POSTGRES_USER=statkick
POSTGRES_PASSWORD=troque_senha_forte

DEPLOY_TARGET_MODE=ip
PUBLIC_IP=186.202.209.182
BACKEND_BIND_HOST=0.0.0.0
FRONTEND_BIND_HOST=0.0.0.0
DB_BIND_HOST=127.0.0.1

DJANGO_SECRET_KEY=gere_uma_secret_key_forte
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=186.202.209.182,127.0.0.1,localhost
DJANGO_CORS_ALLOW_ALL_ORIGINS=0
DJANGO_CORS_ALLOWED_ORIGINS=http://186.202.209.182:3000
DJANGO_CSRF_TRUSTED_ORIGINS=http://186.202.209.182:3000

DJANGO_CREATE_SUPERUSER=0
DJANGO_SUPERUSER_EMAIL=admin@statkick.local
DJANGO_SUPERUSER_PASSWORD=troque_senha_admin
DJANGO_SUPERUSER_NOME=Administrador

DJANGO_SECURE_SSL_REDIRECT=0
DJANGO_SESSION_COOKIE_SECURE=0
DJANGO_CSRF_COOKIE_SECURE=0
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=0
DJANGO_SECURE_HSTS_PRELOAD=0

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

NEXT_PUBLIC_API_URL=http://186.202.209.182:8000
